/*Defining image size and animation settings*/

img:hover {
    width: 100px;
    height: 100px;
    animation-name: rotateImage;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    position: relative;
}

/*idea to make image rotate clockwise while going in a square motion*/

@keyframes rotateImage {
    0% {transform: translate(0) rotate(0deg); background-color: aqua;}
    25% {transform: translate(200px , 0) rotate(90deg); background-color: red; border-radius: 25%; }
    50% {transform: translate(200px , 200px) rotate(180deg); background-color: blueviolet; border-radius: 50%;}
    75% {transform: translate(0px , 200px) rotate(270deg); background-color: chartreuse; border-radius: 75%;}
    100% {transform: translate(0) rotate(360deg); background-color: gold; border-radius: 100%;}
}

